Flask==1.1.2
requests==2.24.0
flask-sqlalchemy==2.4.4
flask-migrate==2.4.0
flask-login==0.5.0
flask-bcrypt==0.7.1
flask-wtf==0.14.3
numpy==1.19.2
matplotlib==3.3.2
Beautifulsoup4==4.9.3
wtforms~=2.3.3
email-validator==1.1.2
jinja2~=2.11.2
alembic~=1.5.3