{% extends "base.html" %}
{% block title %}
Home - {{ super() }}
{% endblock %}
{% block content %}
<div class="row">
    {% if current_user.is_authenticated %}
    <div class="col-lg-8 offset-lg-9 mt-4 pb-0">
        <p>Username: {{ current_user.username }}</p>
        <p>Email Address: {{ current_user.email }}</p>
    </div>
    <div class="col-lg-4 offset-lg-5 mt-0 pb-4">
        {% if current_user.picture_path %}
            <img class="user-image-big" src="{{ url_for('static', filename=current_user.picture_path) }}">
        {% endif %}
    </div>

    <div class="col-lg-8 offset-lg-2 mt-4">
        <h2>Friends List</h2>
        <table class="table table-bordered">
            {% for friend in friends %}
                <tr>
                    {% if friend.picture_path %}
                    <td><img class="user-image-small" src="{{url_for('static', filename=friend.picture_path)}}"></td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    <td>{{ friend.username }}</td>
                    <td><a href="{{ url_for('app.message', id=friend.id) }}" class="btn btn-link">Send message</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-lg-8 offset-lg-2">
        <h2>Friends request</h2>
        {% if requested_friends %}
        <table class="table table-bordered">
            {% for friend in requested_friends %}
            <tr>
                {% if friend.picture_path %}
                <td><img class="user-image-small" src="{{ url_for('static', filename=friend.picture_path)}}"></td>
                {% else %}
                <td></td>
                {% endif %}
                <td>{{ friend.username }}</td>
                <td>
                    <form method="POST" action="{{ url_for('app.connect_user')}}">
                        {{ connect_form.csrf_token }}
                        {{ connect_form.connect_condition(value='accept')}}
                        {{ connect_form.to_user_id(value=friend.id)}}
                        {{ connect_form.submit(class='btn btn-primary', value='Approve friend application')}}
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <div>
            <p>None..</p>
        </div>
        {% endif %}
    </div>
    <div class="col-lg-8 offset-lg-2">
        <h2>Waiting for approval</h2>
        {% if requesting_friends %}
        <table class="table table-bordered">
            {% for friend in requesting_friends %}
            <tr>
                {% if friend.picture_path %}
                <td><img class="user-image-small" src="{{ url_for('static', filename=friend.picture_path)}}"></td>
                {% else %}
                <td></td>
                {% endif %}
                <td>{{ friend.username }}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <div>
            <p>None..</p>
        </div>
        {% endif %}
    </div>
    {% else %}
    <div class="row col-lg-4 mt-4 pb-2">
        <h5>Please Login or register..</h5>
    </div>
    {% endif %}
</div>
{% endblock %}